body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    padding: 16px;
    background: #24292e;
}

.header__item {
    margin-right: 16px;
}

.header__item:last-child {
    margin-right: 0;
}

/* logo */

.header__link {
    display: block;
    width: 32px;
    height: 32px;
}

.header__link img {
    width: inherit;
    filter: invert(100%);
}

/* search */

.header-search {
    position: relative;
}

.header-search__input {
    
    width: 300px;
    padding: 4px 8px;
    border: none;
    background: #3f4448;
    border-radius: 3px;

    /* подгоняет размеры элемента, убирает внешние паддинги */
    box-sizing: border-box;

    /* убирает выделение у input */
    outline: none;

    transition: width .3s;
}

.header-search_active .header-search__input {
    width: 400px;
    background: white;
    border-radius: 3px 3px 0 0;
}

.header-search__suggest {
    display: block;
    position: absolute;
    top: 26px;
    left: 0;
    width: 300px;
    height: 0;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    background: white;
    color: black;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 3px 0px 2px rgba(53, 53, 53, 0.09);
    transition: width .3s;
}

.header-search_active .header-search__suggest {
    width: 400px;
    height: auto;
    padding: 5px;
}


.header__nav > ul {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.header__nav-item a:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.header__notifications {
    display: flex;
    margin-left: auto;
}

.notification-link {
    display: block;
    width: 14px;
    height: 15px;
}

.notification-link img {
    width: inherit;
    filter: invert(100%);
    background: white;
}

.header__create {
    display: block;
}

.create-link {
    display: inherit;
    cursor: pointer;
}

.create-link svg {
    fill: white;
}

.dropdown-caret {
    color: white;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}

.create-link:hover {
    color: hsla(0, 0%, 100%, 0.7);
}

.avatar-logo {
    display: block;
    width: 20px;
    height: 20px; 
}

.avatar-logo img {
    width: inherit;
    border-radius: 3px;
}

.header__details-menu {
}